*{
    margin: 0;
    padding: 0;
    
}

header{
    height: 100px;
    background: rgb(0,0,0,0.7);
    width: 100%;
   position: fixed;
   z-index: 12;
  
}
.logo{
    font-family: 'Aclonica';
    font-size: 25px;
    padding: 50px;
    margin-left: 50px;
   

}

.logo a{
color:white;
text-decoration: none;

}


.text h2{

    color:red;
    text-decoration: none;
    text-align: center;
}
.text ol{
    color: white;
}
.text p{
    color: white;
}
.text h4{
    color: white;
}