*{
    margin: 0;
    padding:  0;

}
header{
    height: 100px;
    background: rgb(0,0,0,0.7);
    width: 100%;
   position: fixed;
   z-index: 12;
  
}
.logo{
    font-family: 'Aclonica';
    font-size: 25px;
    padding: 50px;
    margin-left: 50px;

}

.logo a{
color:white;
text-decoration: none;

}

.parc{
font-family: 'poppins';
font-size: 20px;
float: right;
list-style: none;

}

.parc li{
    display: inline-block;
}
.parc li a{
    padding: 15px;
}
.carousel-item img{
    -webkit-background-size:cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: auto;
    height: 100vh;
    filter: brightness(80%);
}
.box{
    background:rgba(0,0,0,0.5);
    width: 100%;
    padding: 25px;
}
.box p{
    text-align: justify;

}